.SearchBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.SearchBox .labels{
  display: flex;
  flex-direction: column;
}

.MuiFormControl-root,
.searchbox-datePicker{
}
