.customButton button{
  padding: 30px 10px;
  width: 120px;
}

.customButton button .MuiButton-label{
  display: flex;
  flex-direction: column;
}

.welcome-screen{
  margin-top: 28vh;
}

.welcome-screen .welcome-message{
  text-align: center;
}

.welcome-screen .usefull-links_wrapper{
  text-align: center;
}

.welcome-screen .usefull-links_wrapper .usefull-link{
  margin: 0 5px;
}

.goje{
  color: #D7212D;
}
