.welcome-screen{
  margin-top: 24vh;
}

.welcome-screen .welcome-message{
  text-align: center;
}

.welcome-screen .usefull-links_wrapper{
  text-align: center;
}

.welcome-screen .usefull-links_wrapper .usefull-link{
  margin: 0 5px;
}

.goje{
  color: #D7212D;
}