.saleInfo-table{
  text-align: right;
}
.safiTitle{
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 0;
}
.safiTitle h3{
  margin: 0;
  padding: 0;
}
.safiTitle > span{
  margin-left: 4px;
}
.sale h4{
  margin: 3px 0;
}