.printProductsTable > table {
  width: 100%;
  padding: 0;
  height: 15.9cm;
  font-size: 12px;
}

.printProductsTable{
  display: flex;
  justify-content: center;
  align-items: center;
}

.printfullSum {
  padding: 0;
  text-align: center;
  display: flex;
  height: 2cm;
  flex-direction: row;
  justify-content: space-between;
}

.printfullSum .f1{
  flex: 4;  
}

.printpaysRecords {
  font-size: 12px;
  padding: 0;
  margin: 0
}

.factorsPrint-wrapper h5 {
  margin: 5px 0;
}

.factorMetaData {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.factorMetaData .name{
  display: flex;
  align-items: center;
}
.factorMetaData .name > span{
  margin-left: 3px;
}
.factorMetaData .name h4{
  font-size: 16px;
  margin: 4px 0;
}
.factorMetaData .date{
  
}