.headerheader{
  text-align: center;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  font-size: .8em;
  padding: 1px;
  margin: 9.5px 0 0 0;
  justify-content: space-around;
  align-items: center;
}

.headerheader h2,
.headerheader p{
  margin: 0;
  padding: 0;
}