.notif {
  position: absolute;
  z-index: 10;
  display: inline-block;
  top: 10px;
  left: 10px;
  font-family: Vazir;
  font-size: 18px;
  width: 320px;
}

.notif-success,
.notif-error {
  padding: 10px 24px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 4px 0;
}

.notif-error .MuiSvgIcon-root,
.notif-success .MuiSvgIcon-root {
  color: #fff;
}

.notif .MuiSvgIcon-root {
  font-size: 22px;
  margin-left: 3px;
}

.notif-success {
  background: #428F44;
  color: #fff;
}

.notif-error {
  background: #AF1A0F;
  color: #fff;
}

.notif-warning {
  background: #D28006;
  color: #fff;
}
