.cheatEditor > .MuiFormControl-root:nth-child(1),
.cheatEditor > .MuiFormControl-root:nth-child(2),
.cheatEditor > .MuiFormControl-root:nth-child(3),
.cheatEditor > .expenseInput {
  width: 170px;
}

.cheat-wrapper .hint {
  margin: 5px 0;
}

.cheat-wrapper .hint:first-child {
  margin-bottom: 20px;
}
.cheat-wrapper .deleteCheats {
  margin-top: 20px;
}
.cheat-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin: 170px;
  width: 50%;
  z-index: 8;
  background: #fff;
  border-radius: 5px;
  padding: 3%;
  box-shadow: 0 0 100px 500px #0000003f;
}

.cheatEditor {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
