.newFactorAddProductInputButton {
  width: 10% !important;
  margin-top: 12px;
}

.productInput-wrapper > .MuiFormControl-root:nth-child(1),
.productInput-wrapper > .MuiFormControl-root:nth-child(2),
.productInput-wrapper > .MuiFormControl-root:nth-child(3),
.productInput-wrapper > .expenseInput
{
  width: 193px;
}
