.product-reports .info{
  position: relative;
}
.product-reports .info .customeId{
  position: absolute;
  top: 5px;
  left: 5px;
  color: #999;
}

.product-reports .info .driverInfo{
  font-size: .8em;
}