.IncludeCar-form {
}

form .MuiFormControl-root {
  margin: 10px;
}

.MuiGrid-grid-xs-12 {
  text-align: center;
}

.IncludeCar-form .arrivalDate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.IncludeCar-form .ps-input {
  margin: 0px 0px -25px 0px;
  font-family: "VazirMedium";
  height: 55px;
  width: 560px;
}

.IncludeCar-form .arrivalDate span {
  margin-left: 10px;
}

form .MuiButton-outlinedPrimary {
  width: 80%;
}
