.NewName {
  flex-direction: row;
}

.NewName .gap {
  height: 110vh;
  position: fixed;
  width: 1px;
  background: #bbb;
}

.NewName .newProductOwner-form,
.NewName .NewCustomer-form {
  flex: 1;
}

.NewName .newProductOwner-form .MuiGrid-container,
.NewName .NewCustomer-form .MuiGrid-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
