.printCar {
  font-size: 15px;
}

.printCar .rial {
  display: none;
}

.printCar .saleInfo-costs,
.printCar .info .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3{
  text-align: left;
}

.owner-earning-car .rial{
  display: inline;
}

.owner-earning-car {
  margin-top: 10px;
  text-align: center;
}

.rectangle-border{
  text-align: center;
  border: 1px solid #ccc;
  margin: 4px 0;
  padding: 1px;
}

.sale .saleInfo-table,
.saleInfo-costs {
  margin: 5px 0;
}

.saleInfo-costs {
  text-align: right;
}

.sale .saleInfo-table {
  text-align: left;
}

.safiTitle {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 0;
}

.safiTitle h3 {
  margin: 0;
  padding: 0;
}

.safiTitle > span {
  margin-left: 4px;
}

.sale{
margin-right: -25px;
margin-left: -25px;
}

.sale h4 {
  margin: 3px 0;
}
