.remainingProducts{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.remainingProductsOuterContainer{
  text-align: center; 
}

.remainingProduct{
}

.remainingProduct .huh span{
  margin: 0 5px;
  font-size: .8em;
}