.remainingProducts {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.remainingProductsOuterContainer {
}

.remainingProduct .huh {
  margin: 4px;
  font-size: 0.8em;
}

.remainingProduct .huh span:nth-last-child(2) {
  margin: 0 10px;
}
