html, body{
  font-size: 15pt;
}
body,
a,
span,
div,
button,
input,
.MuiInputLabel-outlined.MuiInputLabel-marginDense,
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  font-family: Vazir !important;
}

.MuiInputLabel-outlined.MuiInputLabel-marginDense,
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  direction: rtl;
}

body {
  direction: rtl;
  margin: 0;
  padding: 0;
}

a {
  color: #312a45;
  text-decoration: none;
}

.hint {
  color: #777 !important;
}

.customButton button{
  padding: 30px 10px;
}

.customButton button .MuiButton-label{
  display: flex;
  flex-direction: column;
}

.customButton button .MuiButton-label .button-icon{
  
}

.customButton button .MuiButton-label .button-title{
  
}

table, td, th {
  border: 1px solid #ccc;
}

td, th{
  text-align: center;
  padding: 3px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.ps{
  width: 100%;
  font-size: 12px;
}

.customePicker .List{
  direction: rtl !important;
}

.customePicker {
  position: fixed;
  background: #eee;
  box-shadow: 0 0 100px 20px #999;
  z-index: 100;
  right: 10%;
  top: 10%;
}

.customePicker .ListItemOdd{
  background: #fff;
}

.customePicker .ListItemOdd,
.customePicker .ListItemEven{
  display: flex;
  justify-content: space-between;
}