body,
a,
span,
div,
button,
input,
.MuiInputLabel-outlined.MuiInputLabel-marginDense,
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  font-family: Vazir !important;
}

.MuiInputLabel-outlined.MuiInputLabel-marginDense,
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  direction: rtl;
}

body {
  direction: rtl;
  margin: 0;
  padding: 0;
}

a {
  color: #312a45;
  text-decoration: none;
}

.hint {
  color: #666 !important;
}

.customButton button{
  padding: 30px 10px;
}

.customButton button .MuiButton-label{
  display: flex;
  flex-direction: column;
}

.customButton button .MuiButton-label .button-icon{
  
}

.customButton button .MuiButton-label .button-title{
  
}

table, td, th {
  border: 1px solid #eee;
}

td, th{
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}