.customer-customePicker .List{
  direction: rtl !important;
}

.customer-customePicker {
  position: fixed;
  background: #eee;
  box-shadow: 0 0 100px 20px #999;
  z-index: 100;
  right: 13%;
  top: 3%;
  text-align: center;
  justify-content: center;
}

.customer-customePicker .closeIcon{
  display: flex;
}

.customer-customePicker .title{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.customer-customePicker .ListItemOdd{
  background: #fff;
}

.customer-customePicker .ListItemOdd,
.customer-customePicker .ListItemEven{
  display: flex;
  justify-content: space-between;
}
